header {
    text-align: center;
}

body {
    background-color: lightblue;
}

footer {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;

}

h2 {
    color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

h2 {
text-align: center;
}

.pictext {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

.bullets {
    margin-left: 150px;
    margin-right: 150px; 
    word-wrap: break-word;
}

ul {
    color: white;
    padding-left: 30px;
}

.image {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

figcaption {
    text-align: center;
    color: white;
}