@media only screen and (max-device-width: 576x) {
    html, header, footer{
        max-width: 100%;
        width: auto;
        margin: 4px;
    }

    img {
        max-width: auto;
        width: auto;
    }
    

}




header {
    text-align: center;
}

body {
    background-color: #285794;
}

footer {
    text-align: center;
    padding: 25px;
}

form{
    width: 60px;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset{
    border: none;
    border-bottom: 4px solid #dfd9d4 ;
}

fieldset:last-of-type{
    border-bottom: none;
}
input {
    width: 100%;
    background-color: #FCF1E6;
    border-color: #FCF1E6;
}

label{
    display: block;
    margin: 0.5rem 0;
    color:#FCF1E6;
}

button, .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.spiderButton1, .spiderButton2, .spiderButton3, .spiderButton4{
    margin-right: 15px;
}

table, th, td{
    border: 1px solid black;
    align-items: center;
    color: #FCF1E6
}
.table-1, .table-2{
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(even){
    background-color: #777;
}

th {
    background-color: #777;
}
td{
    padding: 5px;
}

.table-header{
    text-align: center;
    color:#FCF1E6;
}
.table-total{
    text-align: right; 
    padding: 10px;
}

a{
    color:#98B2D4
    
}

a:link{
    text-decoration: none
}
a:hover{
    color: #FCF1E6;
}

h1, h2, h3, h4  {
    font-family: garamond;
    color: #FCF1E6;
    text-align: center;
}
p{
    color: #FCF1E6;
}

h3{
    font-size: 22px;
}

ul {
    color: #FCF1E6;
    padding-left: 30px;
}
figcaption {
    text-align: center;
    color: #FCF1E6;
}

.flex-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: baseline;
    border: 1px solid #FCF1E6;
    border-width:5px; 
}
.flex-box{
    width:700px;
    height:375px;
    padding:40px;
    margin:20px;

}
.footertext{
    font-family: verdana;
    font-size: 20px;
    color: #FCF1E6;
}
.employees{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    list-style-type: square;
    align-items: center;
    color: #FCF1E6;
}
.pictext {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

.bullets {
    margin-left: 150px;
    margin-right: 150px; 
    word-wrap: break-word;
}
.sitetext{
    color: #FCF1E6;
}
.siteunorder, li{
    padding: 3px;
}
.image {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}
.radio{
    width: unset;
}
.reset{
    width: unset;
    margin: 4px;
}

.submit{
    margin: 4px;
}

.randomfunctions, .buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.datetime{
    display: block;
    align-items: center;
    color: #FCF1E6;
}

.container {
    max-width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container > p {
    text-align: center;
  }
  
  .calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
  }
  
  .calculator__display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
  }
  
  .calculator__keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
  }
  
  .calculator__keys > *:active::before,
  .calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .key--operator {
    background-color: #eee;
  }
  
  .key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
  }
  


