<footer>    
    <nav>
        <a href="https://webpages.charlotte.edu/gscardo/">CLT Webspace</a>
        ||
        <a href="https://github.com/gscar2018">Github</a>
        ||
        <a href="https://gscar2018.github.io">Github.io</a>
        ||
        <a href="https://gscar2018.github.io/itis3135/">ITIS3135.io</a>
        ||
        <a href="https://www.codecademy.com/profiles/gscardo2023">Codeacademy</a>
        ||
        <a href="https://www.freecodecamp.org/gscardo2023">FreeCodeCamp</a>
        ||
        <a href="https://www.linkedin.com/in/gabriel-scardo-a64b2824a/">LinkedIn</a>
    </nav>
    <p  class="footertext">Page built by <a href="scardoinc.com/">Scardo Inc </a>&copy; 2023 </p>
    <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html">
        <img src="images/button-validation-html5.png" width="88" height="31" alt="Validate webpage HTML." />
    </a>        
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
        </a>
        <script>
            document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);

        </script>
</footer>