<header>
    <h1>Gabriel Scardo's Groovy Spiders  || ITIS 3135</h1>
    <nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="forms.html">Form</a>
    ||
    <a href="firstscripts.html">First Scripts</a>
    ||
    <a href="website_evaluations.html">Site Evaluations</a>
    ||
    <a href="byo_intro.html">BYO Intro</a>
    ||
    <a href="emmet.html">Emmet</a>
    ||
    <a href="calculator_fcc.html">Calculator</a>
    </nav>
    <nav>
    <a href="CRa%20p&.htm">CRAP Website</a>
    ||
    <a href="project_1.html">Project One</a>
    </nav>
</header>